* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

#allPosts .post-item {
  display: flex;
}