* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

.main-register {
  text-align: center;
  margin-top: 50px;
}
.main-register #formcontainer {
  display: inline-block;
  text-align: left;
}
.main-register #formcontainer label {
  display: block;
  margin-bottom: 10px;
}
.main-register #formcontainer input {
  margin-bottom: 10px;
}
.main-register #formcontainer button {
  margin-top: 10px;
}